<title>Pokédex</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="/js/main.js"></script>
<link rel="stylesheet" type="text/css" href="/css/main.css">

<body>
    <nav class="blue">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Pokédex</a>
          <a href="#" class="sidenav-trigger" data-target="mobile-nav">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li><a id='home-link'href="/">Pokédex</a></li>
            <li><a id='create-link'href="/new">Create New Pokémon</a></li>
          </ul>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-nav">
        <li><a href="/">Pokédex</a></li>
        <li><a href="/new">Create New Pokémon</a></li>
      </ul>
</body>