@font-face{
    font-family: pokemon;
    src: url(../fonts/Pokemon\ Solid.ttf)
}

body {
    font-family: pokemon;
    letter-spacing: 0.5vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#home-link {
    color: white;
}

#create-link {
    color: white;
}

#heading {
    font-size: 3vh;
    text-align: center;
    color:#FFCB05;
}

.pokemon-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-and-name {
    width: 15vh;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 1vh;
    margin: 1vh;
    color: #3D7DCA;
}

.actions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pokemon-image{
    width: 10vh;
    height: 10vh;
}

.pokemon-name{
    font-size: 2vh;
}

.pokemon-form{
    margin: 2vh;
}

.input-header{
    color:rgb(59,137,236);
}

#create-button{
    font-family: pokemon;
    background-color: white;
    color: rgb(59,137,236);
    letter-spacing: 0.5vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border-color: black;
    font-size: 2vh;
    height: 4vh;
    border-radius: 1vh;
}