.pokemon-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    border: 1px solid black;
    padding: 1vh;
    margin: 1vh;
}

.pokemon-image{
    width: 10vh;
    height: 10vh;
}

.pokemon-name{
    font-size: 2vh;
}
