<!doctype html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <h1>List of All Pokémon</h1>
        <div class = "pokemon-container">
            <% data.forEach((item, index) => { %>
                <div class = 'pokemon-card'>
                    <img class='pokemon-image' src =<%=item.img%>
                    <h3 class='pokemon-name'><%=item.name%></h3>
                </div>
            <% }) %>
        </div>
    </body>
</html>