<!doctype html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <h1>Add New Pokémon</h1>
        <div class = 'pokemon-form'>
            <form action ='/' method='POST'>
                <label for="name">Name</label>
                <input type="text" name="name" required="true"/>
                <label for="image-url">Image URL</label>
                <input type="text" name="img" required="true"/>
                <input type="submit" value="Create New Pokémon">
            </form>
        </div>
    </body>
</html>