<!doctype html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <h1 id='heading'>Create New Pokémon</h1>
        <div class = 'pokemon-form'>
            <form action ='/' method='POST'>
                <label for="name" class="input-header">Name</label>
                <input type="text" name="name" required="true"/>
                <label for="image-url" class="input-header">Image URL</label>
                <input type="text" name="img" required="true"/>
                <label for="type" class="input-header">Type</label>
                <input type="text" name="type" required="true"/>
                <div style = "text-align:right">
                    <button id ="create-button" type="submit">Create New Pokémon</button>
                </div>
            </form>
        </div>
    </body>
</html>