<!doctype html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <h1>Add New Pokémon</h1>
        <div class = 'pokemon-form'>
            <form action ='/' method="POST">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required="true"/>
                <button class="btn waves-effect waves-light" type="submit" name="action">Create New Pokémon</button>
            </form>
        </div>
    </body>
</html>